version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    container_name: expense-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb+srv://dhakshaneshr23cse:dhakshanesh@cluster0.c6iegky.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      - PORT=5000
    networks:
      - expense-network
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: expense-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - expense-network
    restart: unless-stopped

networks:
  expense-network:
    driver: bridge
